
body {
  margin: 0;
  font-family: Arial;
  background-color: #0f0f0f;
  color: white;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  position: absolute;
  top: 0;
  width: 100%;

  background: transparent;
  z-index: 10;
}
.search-box {
  display: flex;
  align-items: center;
  background: #2a2a2a;
  padding: 8px 12px;
  border-radius: 10px;

  width: 40px;
  overflow: hidden;
  transition: 0.4s;
  cursor: pointer;
}

.search-box i {
  color: gray;
}

.search-box input {
  border: none;
  background: transparent;
  color: white;
  outline: none;

  width: 0;
  opacity: 0;
  transition: 0.3s;
}

.search-box:focus-within {
  width: 220px;
  box-shadow: 0 0 10px #f5b400;
}

.search-box:focus-within input {
  width: 100%;
  opacity: 1;
  margin-left: 8px;
}
#btnPerfil {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #f5b400;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
  margin-right: 30px;
  font-size: 50px !important;
  font-weight: bold;
}
.banner {
  width: 100vw;
  height: 100vh;

  background: url('estrelasss.jpg') center/cover no-repeat;

  display: flex;
  align-items: center;
  padding: 60px;

  position: relative;
}

/* degradê bonito */
.banner::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.2) 20%,
    rgba(0,0,0,0.7) 65%,
    #0f0f0f 100%
  );

  z-index: 1;
}

.banner-content {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.banner button {
  background: #f5b400;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.filmes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* metade da tela */
  gap: 20px;

  padding: 30px;
  margin-top: -120px; /* sobe pra cima do banner */
}
.card {
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* imagem ocupa tudo */
.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* texto */
.card h3 {
  margin: 10px;
}

.card p {
  margin: 0 10px 10px;
  color: gray;
}

/* botão favorito */
.card button {
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.card button.favorito {
  color: red;
}
.banner-filme {
  width: 100%;
  height: 100vh;

  background: url('estrelasss.jpg') center/cover no-repeat;

  display: flex;
  align-items: flex-end;
  padding: 60px;

  position: relative;
}

/* degradê filme */
.banner-filme::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.3),
    rgba(0,0,0,0.8),
    #0f0f0f
  );

  z-index: 1;
}

.conteudo-filme {
  position: relative;
  z-index: 2;
  max-width: 500px;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  right: 20px;

  background: rgba(0,0,0,0.6);
  border: none;
  color: white;

  width: 45px;
  height: 45px;

  border-radius: 50%;
  cursor: pointer;

  z-index: 5;
}

.btn-voltar:hover {
  background: #f5b400;
  color: black;
}
.info-filme {
  padding: 40px 20px;
  max-width: 800px;
  margin: auto;
}

.info-filme h3 {
  color: #f5b400;
}

.info-filme p {
  color: #ccc;
  line-height: 1.6;
}
@media (max-width: 600px) {

  /* NAVBAR */
  .navbar {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  /* BUSCA */
  .search-box {
    width: 100%;
  }

  .search-box:focus-within {
    width: 100%;
  }

  /* PERFIL */
  #btnPerfil {
    align-self: flex-end;
  }

  #btnPerfil.logado {
    font-size: 18px;
  }

  /* BANNER */
  .banner {
    height: 50vh;
    padding: 20px;
  }

  .banner h2 {
    font-size: 20px;
  }

  .banner p {
    font-size: 14px;
  }

  /* FILMES */
  .filmes {
    grid-template-columns: 1fr; /* 👈 1 por linha */
  }

  .card {
    height: 200px;
  }
}
@media (max-width: 1024px) {

  .banner {
    height: 60vh;
    padding: 30px;
  }

  .filmes {
    grid-template-columns: 1fr 1fr;
  }

  #btnPerfil.logado {
    font-size: 20px;
  }
}



